// # Navigation

@mixin default-nav {
  .nav-item::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: $yellow;
    transition: 0.2s;
  }
  .nav-item:hover::after {
    width: 100%;
  }
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: $yellow;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    color: $dark;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background: $yellow;
  }

  ul {
    li {
      .nav-link {
        color: $dark;
        padding: 15px 5px;
        transition: 0.2s;
      }
    }
  }
}
